.App {
  text-align: center;
  
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-wrapper {
   width: 100%;
}

.App-title {
  font-size: 2em;
  background-color: rgba(34, 47, 63, 0.5);
  padding: 1rem 4rem;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: lighter;
  text-transform: uppercase;
}

.App-intro {
  font-size: large;
}

/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */

.App-footer {
  max-width: 100%;
  font-size: .7em;
  background-color: rgba(63, 59, 34, 0.5);
  padding: 1rem 4rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: fixed;
  bottom: 0em;
  left: 0em;
  
}

.Main-background {
  max-width: 100%;
  position: absolute;
  /* object-fit: contain; */
  top: 0em;
  left: 0em;
  z-index: -1;
}